.speciality-container{
    width:100%;
    height: 40vh;
    /* background-color: #d6d1d1; */
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}

.spacialty-contaier{
    position: absolute;
    top: 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-bottom-right-radius:6px;
    border-bottom-left-radius: 6px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


.speciality-slider{
    overflow-x: scroll;

}
.speciality-slider::-webkit-scrollbar {
    height: 5px;
}
  
.speciality-slider::-webkit-scrollbar-track {
    background: transparent;
}
  
.speciality-slider::-webkit-scrollbar-thumb {
    background-color: rgba(115, 236, 115);
    border-radius: 10px;
}
  
.speciality-slider::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.spacialty-contaier h1{
    color: rgba(115, 236, 115);
    font-size: 40px;
    text-align: center;
}

.spacialty-contaier p{
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.speciality-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 100%;
    width: 1800px;
}

.speciality-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width:  150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid rgba(115, 236, 115);
}

.speciality-card h1{
    font-size: 20px;
    color: #000;
}

.speciality-card p{
    font-size: 20px;
    color: #000;
}

.speciality-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


@media screen and (max-width:500px){
    .spacialty-contaier h1{
        font-size: 30px;
    }
    .spacialty-contaier p{
        font-size: 14px;
    }

    .speciality-cards{
        width: 1200px;
    }

    .speciality-card{
        width: 120px;
        height: 100px;
    }
    .speciality-card h1{
        font-size: 16px;
    }
    .speciality-card p{
        font-size: 14px;
    }
    .speciality-card img{
        width: 30px;
        height: 30px;
    }
    
}