.speciality-container{
    width:100%;
    height: auto;
    background: rgb(42, 96, 78,0.8);
    padding: 40px 0;
}


.specialty-section{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.specialty-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.first-half{
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.first-half span{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

.first-half h1{
    font-size: 40px;
    font-weight: 600;
    color: #efefef;
}

.first-half p{
    font-size: 14px;
    line-height: 22px;
    color: #efefef;
    margin: 20px 0;
}


.second-half{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 20px;
    gap: 20px;
}

.second-half div{
    width: 100%;
    height: auto;
    border-radius: 4px;
    background: #fff;
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 6px #000;

    &:hover{
        scale: 1.02;
        box-shadow: 2px 2px 10px #000;
    }
}

.second-half div .icon{
    width: 35px;
    height:35px;
    border-radius: 50%;
    font-weight: 500;
    padding: 4px;
    color: #fff;
    background: #000;
}

.second-half div h1{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.second-half div p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: justify;
    color: #000;
}


@media screen and (max-width: 700px){
    .speciality-container{
        padding: 10px 0;
    }
    
    .first-half{
        padding: 20px 20px;
        border-radius: 10px;
        text-align: start;
    }

    .specialty-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .second-half{
        padding: 20px 15px;
        gap: 10px;
    }

    .second-half div{
        border: 1px solid rgba(255, 255, 255, 0.9);
        padding: 5px;
    }
    .second-half div h1{
        font-size: 13px;
        font-weight: 400;
    }

    .second-half div p{
        font-size: 11px;
        font-weight: 200;
    }
}