*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page{
    background-image: 
      linear-gradient(to right, rgba(79, 150, 126, 0.9), rgba(0, 0, 0, 0.6)),
      url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
