.container{
    width:100%;
    height: 100vh;
    position:relative;
    background: linear-gradient(to right , #1c1b1ba1, rgb(115, 236, 115,0.1)), url(https://images.pexels.com/photos/267586/pexels-photo-267586.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-repeat:no-repeat;
    background-size:cover;
}

.banner{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;  
    flex-direction: row-reverse;
    gap: 20px;
}

.content{
    color:#fff;
    text-align:start; 
    flex: 1;
    padding: 30px;
}


html[lang="en"] .content p{
    font-size:28px;
}

html[lang="bn"] .content p{
    font-size:22px;
}

html[lang="bn"] .content h1{
    font-size:34px;
    width: 500px;
}

html[lang="en"] .content h1{
    font-size:44px;
    width: 500px;
}

.links{
    display:flex; 
    justify-content:start;
    align-items:center;
    margin-top: 30px;
}
.links button{
    border:none;
    border-radius:2px;
    padding:10px;
    margin:4px;
    font-weight:bold;
    background:rgb(115, 236, 115);
}


.banner-details {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 15px;
}

.banner-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    width: 280px;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 2px solid rgba(115, 236, 115, 0.5);
    cursor: pointer;

    &:hover{
        scale: 1.02;
        transition: all 0.2s ease-in-out;
    }
}

.details-icon{
    width: 30px;
    height:30px;
    border: 3px solid rgba(115, 236, 115);
    border-radius: 50%;
    padding: 6px;
    color: rgba(115, 236, 115);
    margin-bottom: 10px;
}


.banner-detail h1{
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}


.banner-detail p{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 500px) {
    html[lang="bn"] .content h1{
        font-size:26px;
        width: 95%;
    }

    html[lang="en"] .content h1{
        font-size:30px;
        width: 95%;
    }

    .container{
        width:100%;
        height: auto;
        padding: 20px 0;
    }

    .banner {
        flex-direction: column;
        gap: 30px;
        padding: 0px;
    }
    .banner-details {
        justify-content: center;
    }
    .banner-detail {
        width: 80%;
        border: 1px solid rgba(115, 236, 115, 0.5);
    }
}