.container{
    width:100%;
    height: 100vh;
    /* background-image:linear-gradient(95deg, #1c1b1ba1, rgb(0 0 0 / 13%)), url(https://images.pexels.com/photos/267586/pexels-photo-267586.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
    position:relative;
}

.banner{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;  
    flex-direction: column;
    position: relative;
}

.content{
    padding:150px;
    color:#fff;
    text-align:center; 
}

html[lang="en"] .content p{
    font-size:28px
}

html[lang="bn"] .content p{
    font-size:22px
}




html[lang="bn"] .content h1{
    font-size:34px
}

html[lang="en"] .content h1{
    font-size:44px
}

.links{
    display:flex; 
    justify-content:center;
    align-items:center;
    margin-top: 30px;
}
button{
    border:none;
    border-radius:2px;
    padding:10px;
    margin:4px;
    font-weight:bold;
    background:rgb(115, 236, 115);
}


.banner-details{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 130px;
    border-top-right-radius:6px;
    border-top-left-radius: 6px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    gap: 10px;
}

.banner-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    width: 100%;
    height: 100%;
}

.details-icon{
    width: 30px;
    height:30px;
    border: 3px solid rgba(115, 236, 115);
    border-radius: 50%;
    padding: 6px;
    color: rgba(115, 236, 115);
    margin-bottom: 10px;
}


.banner-detail h1{
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}


.banner-detail p{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 500px) {
    .content{
        padding:5px;
    }
    
    
    html[lang="bn"] .content h1{
        font-size:26px
    }

    html[lang="en"] .content h1{
        font-size:30px
    }

    button{
        padding:8px;
        margin:2px;
    }
    .details-icon{
        width: 18px;
        height:18px;
    }
    
    
    .banner-detail h1{
        font-size: 16px;
        color: #fff;
        font-weight: 700;
    }
    
    
    .banner-detail p{
        font-size: 12px;
        color: #fff;
        font-weight: 300;
    }
    
}