.navbar{
    width: 6vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 0;
    border-right: 1px solid #000;
}

.nav-links{
    width: 30vw;
    height: 100vh;
    position: absolute;
    background: #efefef;
    left: 6vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    transition: all 0.5s ease-in-out;  
}
 
.nav-link{
    text-decoration: none;
    color: #000;
    line-height: 22px;
    font-weight: 500;
}

html[lang="bn"] .nav-link {
    font-size: 17px;
}
  
html[lang="en"] .nav-link {
    font-size: 25px;
}

.bars-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.login{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(115, 236, 115);
    border: 1px solid rgb(115, 236, 115);
    padding: 5px 10px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1001;

    &:hover{
        scale: 1.1;
    }
}


.language{
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
}

.nav-close{
    display: block;
    font-size: 35px;
    color: #000;
    z-index: 1001;
}

.nav-open{
    display: block;
    font-size: 35px;
    color: #000;
    z-index: 1001;
}

.open{
    left: 6vw;
}
.close{
    left: -30vw;
}

@media (max-width: 600px) {
    .navbar{
        width: 100vw;
        height: 8vh;
    }
    
    .nav-links-container{
        height: 100%;
        width: 100%;
        flex-direction: row;
        padding: 5px;
    }
    

    .bars-login{
        justify-content: end;
        flex-direction: row-reverse;
        height: 100%;
        margin-top: 0px;
    }
    .nav-links{
        width: 60vw;
        background: #efefef;
        left: -60vw;
    }
    .open{
        left: 0vw;
    }
    .close{
        left: -60vw;
    }


}