.navbar{
    z-index: 1000;
    height: 12vh;
    width: 100%;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.nav-action{
    display: none;
}

.language{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 3px;
    width: 100%;
}

.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #66CDAA;
    width: 70px;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 10px;
}

.nav-icon-social,.nav-icon-website{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fb,.ig,.bell,.cart{
    width:  20px;
    height: 20px;
    cursor: pointer;
    color: white;
}

.navbar-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-header-content{
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.navbar-header{
    background: rgb(29, 89, 69);
    width: 100%;
    height: 4vh;
}

.classes{
    padding: 3px 12px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    line-height: 16px;
    background: #fff;
    border: none;
    font-weight: 400;
    border-radius: 3px;;
    color: #000;
}
.nav-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    height: 8vh;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 150px;
}

.nav-links{
    height: 100%;
    justify-content: center;
    align-content: center;
    padding: 0px 10px;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.active-link{
    border-bottom: 4px solid rgb(29, 89, 69);
    color: rgb(29, 89, 69,0.9);
    font-weight: 600;
}

.bars-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login{
    padding: 2px 18px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    background: #1d5945;;
    border: none;
    color: #fff;
    font-weight: 400;
    border-radius: 3px;
}


.logout-btn{
    padding: 6px 18px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    background: rgb(233, 3, 3);
    border: none;
    color: #000;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    color: #fff;
    &:hover{
        scale: .9;
    }
}

.short-angle{
    display: none;
}

@media screen and (max-width: 700px){
    .nav-links-container{
        padding: 0 10px;
    }

    .nav-action{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 32px;
        background: transparent;
        color: #000;
    }

    .nav-links{
        position: fixed;
        top: 12vh;
        height: 100vh;
        width:100%;
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease-in-out;
    }

    .open{
        right: 0;
    }
    .close{
        right: -100%;
    }

    .nav-links ul{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: transparent;
        gap: 20px;
        border-radius: 0px;
        list-style: none;
    }

        
    .short-angle{
        display: block;
        position: fixed;
        bottom: 220px;
        left: 10px;
        color: green;
        width: 30px;
        height:30px;
        border: 3px solid green;
        border-radius: 50%;
    }

    .nav-icons{
        bottom: 100px;
        width: 120px;
        left: -100%;
    }

    .short-open{
        left: 0;
    }

    .short-close{
        left: -100%;
    }

    
    .nav-link{
        color: #fff;
    }

    .logout-btn{
        padding: 5px 18px;
    }
}